#spil {
  width: 200px;
  height: 200px;
  background-color: black;
}

h1 {
  color: white;
}

.col1 {
  height: 100vh;
  background-image: url("../images/camels.jpg");
  background-size: cover;
  background-position: center;
}

.col2 {
  height: 100vh;
  background-image: url("../images/monastery.jpg");
  background-size: cover;
  background-position: center;
}

.col3 {
  height: 100vh;
  background-image: url("../images/desert.jpg");
  background-size: cover;
  background-position: center;
}

.form-section {
  height: 100vh;
  background-color: darkblue;
}

#datepicker {
  width: 200px;
  margin: auto;
  display: inline;
}

form {
  background-color: orange;
  margin: auto;
  padding: 50px;
  width: 30%;
  border-radius: 50px;
  border: solid 5px white;
}
